*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.title{
    margin: 5px;
    display: flex;
    justify-content: center;
   font-size: 50px;
}
.contact-box{
    background-color: white;
    display: flex;
}
.contact-left{
   flex-basis: 50%;
   padding: 40px 60px;
}
.contact-right{
     flex-basis: 50%;
     padding: 40px;
     background-color: rgb(48, 28, 68);
     color: white;
}
.input{
    padding: 10px;
}
.input > input{
    margin-bottom: 10px;
    padding: 5px;
    border:none;
    border-bottom: 1px solid black;
}
.input > label{
    padding: 10px;
}
.btn{
    font-weight: bolder;
    color: aliceblue;
    width: 100px;
    padding: 10px;
    background-color:blueviolet;
    border: 2px  ;
     margin-top: 30px;
     margin-left: 100px;
     border-radius: 10px;
}
.btn:hover{
    box-shadow: 2px 4px 5px  black;
}
.contact-right > h1{
    margin-bottom: 20px;
}
.contact-right > h4{
    margin-bottom: 20px;
}